.editor-word-list {
  width: 250px;
  flex-shrink: 0;
  height: 100%;

  display: flex;
  flex-direction: column;

  border: 1px solid #ccc;
  border-radius: 8px;

  padding: 1rem;
  box-sizing: border-box;

  overflow-y: auto;
}

.editor-word-list h2 {
  margin-top: 0;
}

.editor-word-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.editor-word-list li {
  padding: 0.4rem 0.6rem;
  border-radius: 4px;

  cursor: pointer;
  user-select: none;
}

.editor-word-list li:hover {
  background: #f3f3f3;
}

.editor-word-list li.selected {
  background: #dbeafe;
  font-weight: bold;
}

.editor-word-list button {
  width: 100%;
  padding: 0.6rem;

  font: inherit;
}

.editor-setting {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0.5rem;
    cursor: pointer;
}

.editor-setting input {
    margin: 0;
}